<div class="grid-container">
  <div class="container">
    <div class="form" *ngIf="produto">
      
      <h2>Editando Produto: {{ produto.produto_nome }}</h2>
    
      <form (ngSubmit)="salvarAlteracoes()">
        <div class="input-field col s6">
            <label for="categoria_id">Categoria:</label>
          <select id="categoria_id"  [(ngModel)]="produto.categoria_id" name="categoria_id" required>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nome }}
            </option>
          </select>
        </div>
      
        <div class="input-field col s6">
          <label for="produto_nome">Produto:</label>
          <input id="produto_nome"  [(ngModel)]="produto.nome" name="nome" required>
        </div>
    
        <div class="input-field col s6">
          <label for="descricao">Descrição:</label>
          <input id="descricao" [(ngModel)]="produto.descricao" name="descricao" required>
        </div>
  
        <div class="input-field col s6">
          <label for="quantidade_em_estoque">Quantidade:</label>
          <input id="quantidade_em_estoque" type="number"  [(ngModel)]="produto.quantidade_em_estoque" name="quantidade_em_estoque" required>
        </div>
    
        <div class="input-field col s6">
          <label for="preco">Preço:</label>
          <input id="preco" type="number" [(ngModel)]="produto.preco" name="preco" required>
        </div>
  
        <div class="input-field col s6">
          <label for="imposto">Imposto:</label>
          <input id="imposto" type="number" [(ngModel)]="produto.imposto" name="imposto" required>
        </div>
  
        <div class="input-field col s6">
          <label for="preco_final">Preço Final:</label>
          <input id="preco_final" type="number" [(ngModel)]="produto.preco_final" name="preco_final" required>
        </div>
    
        <button type="submit" class="button">Salvar</button>
      </form>
    </div>
  
  </div>
</div>